@font-face{
  font-family: "Melon hunter";
  src: url("../fonts/Melon hunter.ttf");
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #2b2b2b;
    font-family: 'Josefin Sans', sans-serif ;
    font-size: 14px;
    line-height: 16px;
    min-width: 320px;
    /*overflow: hidden;*/
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}
a, button {
    text-decoration: none;
    cursor: pointer;
}
a{
    color: #2b2b2b;
}
a, a:hover, a:focus, button:hover, button:focus {
    outline: 0 none !important;
    text-decoration: none;
}
a:focus ,a:hover{
    color: #000;
}
ul{
    margin: 0;
    padding: 0;
    
}
#page{
    overflow: hidden;
}
.remove-padd{
    padding-left: 0;
    padding-right: 0;
}
.offspace-15{
    margin-top: 15px;
}
.offspace-45{
    margin-top: 45px;
}
/**********************SOCIAL HEADER********************************/
/*******************************************************************/
.section-social-header .content-social{
    padding: 10px 10px 10px;
    border-bottom: 0.5px solid #000;
}
.section-social-header {
    background: #FFF none repeat scroll 0 0;
    padding: 10px 0;
}
.section-social li a {
    color: #FFF;
    background: #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    z-index: 22;
}

.section-social li a .fab.fa-facebook-f{
    padding: 1px 0px;
}
.ssetion-social li a:hover{
    color: #ff4157;
}
.section-social li + li{
    margin-left: 7px;
}
.info-block{
    color: #fff;
}
.info-block .fa {
    margin-right: 15px;
}
/*navbar*/
.navbar-default {
    text-align: right;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.navbar{
    min-height: 35px;
    margin-bottom: 10px;
}
.navigation .nav1 li {
    margin-top: 4px;
    display: inline;
    position: relative;
}
navigation .nav1 li a {
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/***************CAROUSEL HEADER********************/
/***************************************************/
#section-carousel{
    height: 520px;
    width: 100%;
}
#section-carousel .carousel-inner{
    height: 100%;
    width: 100%;
}
#section-carousel .carousel-inner>.item {
    content: '';
    width: 100%;
    height: 100%;
}
#section-carousel .carousel-caption {
    text-align: right !important;
    bottom: auto;
    color: #fff;
    left: 50%;
    position: absolute;
    right: auto;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 50%;
    transform: translate(-30%, -50%);
    width: 50%;
    z-index: 0;
    overflow: hidden;
}



#section-carousel .carousel-caption h1 {
    color: #FFF;
    font-family: 'Melon hunter';
    font-size: 45px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#section-carousel .carousel-caption h2{
    color: #FCDB00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 46px;
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #FFF;
    opacity: .5;
}
#section-carousel .carousel-indicators{
     padding-bottom: 50px;
}
#section-carousel .carousel-indicators li{
    border: 1px  rgba(255,255,255,.5);
    background: rgba(255,255,255,.5);
}
#section-carousel .carousel-indicators .active{
    background: #fff;
}

#section-carousel .fas{
    position: relative;
    color: rgba(255,255,255,.5);
    font-size: 35px;
}
#section-carousel .fas.fa-chevron-right{
    z-index: 4;
}
#section-carousel .fas:hover{
    color: #FFF;
}
.overlayed{
    width: 100%;
    height: 100%;
}
.overlayed::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0; 
}
#section-carousel .overlayed.overlayed-header::after{
    background: url(../images/svg/wave1.svg) bottom no-repeat;
    background-size: cover;
    z-index: 3;
    top: 5px;
}


/***************MENU*****************************/
/*************************************************/
.header-container{
    position: relative;
    z-index: 9999;
}
.section-social ul li{
    display: inline-flex;
}
.top-row{
    padding: 20px 0;
}
#logo > a {
    display: block;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1 !important;
}



.book-now-btn {
    background: #ff4157 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 8px 15px;
    text-transform: uppercase;
}
.book-now-btn:hover, .vacation-offer-details .btn.btn-default:hover{
    background: #162541;
}

.menu-items a::before, .menu-items a.active::before {
    border-bottom: 1px solid #000;
    color: #000;
    content: attr(data-hover);
    height: 100%;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
    
    
}
.menu-items a.active::before{
    z-index: 1;
    
}
.menu-items 
span, .menu-items a:focus span {
/*     border-bottom: 1px solid #000;*/
}
.menu-items a:hover::before, .menu-items a:focus::before {
     border-bottom: 1px solid #000;
}
.menu-items a.active{
    color: #000;

}
.menu-items {
    position: relative;
    z-index: 1;
}
.menu-items a {
    overflow: hidden;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-items span {
    background: #fff none repeat scroll 0 0;
    display: block;
    padding: 10px 15px;
    transition: transform 0.3s ease 0s;
}
/***************************QUIENES SOMOS*****************************/
/*********************************************************************/
.quienes-somos{
    padding: 70px;
}
.quienes-somos .avatar{
    position: relative;
}
.quienes-somos .avatar::after{
    content: '';
    margin: auto;
    background: url(../images/svg/astronauta1.svg) bottom no-repeat;
    margin-top: -780px;
    margin-left: -180px;
    position: absolute;
    width: 1300px;
    height: 1050px;
    z-index: 7; 
}
.quienes-somos .image{
    display: block;
    position: relative;
    justify-content: center;
/*
    height: 100px;
    width: 250px;
*/
    
}
.service-image {
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    padding: 35px;
    background: #ddd;
}
.contenido-section {
    text-align: right;
    position: relative;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
}
.contenido-section h1{
    margin-bottom: 35px;
    text-align: left;
    font-weight: 900;
    color: #000;
}
.contenido-section span{
    margin-left: 150px;
}
.contenido-section p{
    font-weight: 100;
    font-size: 30px;
    line-height: 35px;
    opacity: .7;
}
.instagram-images .contenido-section{
    max-width: 171px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.contenido-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}
.contenido-section:hover .overlay {
    opacity: 1;
}
.contenido-section:hover p {
    bottom: 50px;
}
.overlay .info > i {
    color: #fff;
    font-size: 25px;
}
.contenido-section img {
    margin-left: auto;
    margin-right: auto;
}
.contenido-section a.info {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    left: 50%;
    letter-spacing: 5px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out 0s;
}
.contenido-section a.info:hover, .contenido-section a.info > i:hover{
    color: #e01931;
}
.overlay p {
    bottom: 0;
    font-size: 17px;
    font-weight: 600;
    left: 25%;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    transition: bottom 0.9s ease 0s;
}
.overlay p a{
    color: #fff;
}
.overlay p a:hover{
    color: #ff4157;
}

/****************SERVICIOS*********************/
/**********************************************/
.section-service{
    color: #FFF;
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 5;
    background: rgb(57,102,175);
    background: -webkit-linear-gradient(left, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    background: -o-linear-gradient(left, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    background: linear-gradient(to right, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    padding: 150px 70px 150px;
}

.section-service .overlayed.overlayed-service::after{
    top: -5px;
    background: url(../images/svg/wave2.svg) bottom no-repeat;
    background-size: cover;
    z-index: 6; 
}

.section-service .overlayed.overlayed-service-bottom::after{
    top: 5px;
    background: url(../images/svg/wave3.svg) bottom no-repeat;
    background-size: cover;
    z-index: 7; 
}
.section-service .content-service{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px;
}

.section-service .item-2,
.section-service .item-4{
    margin-top: 50px;;
}
.section-service  .line{
    position: absolute;
    margin-left: 7%;
    top: -7%;
    width: 75%;
    height: 115%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 !mportant;
}
.section-service .title-service{
    padding: 80px 0 40px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif !important;
}

.section-service .content-service .image-service{
    margin: auto;
    padding: 35px;
}
.section-service p{
    font-weight: 100;
}



/********************TEAM****************************/
/****************************************************/
.section-team{
    padding: 70px;
}
.section-team .container-team{
    width: 100%;
    height: 100%;
}


.section-team .container-team.team-2{
    background: url(../images/svg/team/casco_angeles.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
}
.section-team .container-team.team-3{
    background: url(../images/svg/team/casco_angeles.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
}
.section-team .container-team.team-4{
    background: url(../images/svg/team/casco_angeles.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
}
.section-team .container-team.team-5{
    background: url(../images/svg/team/casco_angeles.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
}

.section-team .content-img{
    overflow: hidden;
    width: 100%;
}
.section-team .content-img img{
    display: block;
    margin: auto;
    margin-left: 25%;
    position: relative;
    border-radius: 50%;
    max-width: 180px;
    margin-right: 170px;
}

.section-team .content-text{
    position: relative;
    margin-top: -15%;
    padding-bottom: 5%;
    z-index: 15;
}
.section-team p, .section-team h2{
    color: #000;
    display: block;
    z-index: 9;
}
.section-team .contenido-section{
    background: #FFF !important;
}

.section-team .content-astro{
    position: relative;
}


.section-team .content-astro .overlayed.overlayed-astronauta::after{
    position: absolute;
    width: 130%;
    height: 800px;
    background: url(../images/svg/astronauta2.svg) bottom no-repeat;
    background-size: cover;
    top: -350px;
    left: -150px;
    z-index: 14;
}
/**************************EVENTOS*********************/    
/******************************************************/
.section-eventos{
    color: #FFF;
    position: relative;
    background: rgb(57,102,175);
    background: -webkit-linear-gradient(left, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    background: -o-linear-gradient(left, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    background: linear-gradient(to right, rgba(57,102,175,1) 0%, rgba(57,102,175,1) 41%, rgba(59,119,215,1) 79%);
    padding: 70px 0 100px;
}
.section-eventos .overlayed.overlayed-eventos{
    padding-top:140px;
}
.section-eventos .overlayed.overlayed-eventos::after{
    width: 100%;
    height: 100%;
    top: -5px;
    background: url(../images/svg/wave4.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
}
.section-eventos .overlayed.overlayed-eventos-bottom::after{
    width: 100%;
    height: 100%;
    background: url(../images/svg/wave5.svg) bottom no-repeat;
    background-size: cover;
    z-index: 8;
    top: 20px;
}
.section-eventos .title-eventos{
    padding: 70px 0 70px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif !important;
}
.section-eventos .custom-text h1{
    color: #FFF !important;
    font-family: 'Melon hunter';
    font-size: 55px;
     margin-top: 10%;
}

.section-eventos .custom-text p{
    font-size: 20px;
    line-height: 22px;
    opacity: .8;
}

.section-eventos .contenido{
    position: relative;
   
}
.section-eventos .custom-text.t1, 
.section-eventos .custom-text.t3 {
    text-align: right;
}
.section-eventos .custom-text.t2 {
    text-align: left;
}
.cohete{
    position: relative;
}
.cohete .overlayed.overlayed-cohete::after{
    position: absolute;
    top: 100%;
    width: 130%;
    height:800px;
    background: url(../images/svg/nave.svg) bottom no-repeat;
    background-size: cover;
    z-index: 9;
}

/*carousel*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-control {
    opacity: 5;
}
.carousel-control {
    top: 45%;
}
.carousel-control:focus, .carousel-control:hover {
    opacity: 1;
}
#section-carrusel .carousel-indicators .active{
    background: #ff4157;
    border-color: #ff4157;
}
/*back to top*/
#back-to-top {
    background: #3966AF;
    bottom: 40px;
    color: #fff;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 9999;
    font-weight: 600;
    letter-spacing: 1px;
}
#back-to-top:hover{
    background: #c01b21;
}
#back-to-top > span {
    display: block;
}

/*****************************CONTACT**************************************/
/****************************************************************************/
.contact-block{
    width: 100%;
    height:auto;
    margin: auto;
    z-index: 20;
}
.contact-block .title h1{
    margin-top: 70px;
}
.contact-left-block > h3 , .contact-form > h3{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 14px !important;
    text-transform: capitalize;
}

.contact-form form {
    margin-top: 15px;
    padding: 0 20% 20%;
    z-index: 99;
}
.contact-form form .form-control {
    position: relative;
    padding: 25px;
    margin-bottom: 15px;
    z-index: 10;
}
.form-control {
    border-radius: 10px;
    background: #ddd;
}
.submit-btn, .read-more-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    text-transform: uppercase;
}

/*blog slider*/
.blog-box h1{
    font-family: "Melon Hunter";
}
.blog-box {
    color: #fff;
    padding: 50px 50px;  
}

.blog-box > p {
    position: relative;
}
.blog-box > p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.contact-form form textarea{
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}
.offspace-70{
    margin-top: 70px;
}
.hover-effect .gallery-image-list:hover img, .hover-effect .grid-item:hover img {
    animation: 1.5s ease 0s normal none 1 running flash;
    opacity: 0.6;
}


/*************************FOOTER*******************************/
/*************************************************************/
.copyright {
    padding: 20px;
    border-top: 1px solid #000;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 40px;
    text-align: left;
}
.copyright > a{
    color: #000000;
}
.copyright p{
    text-align: right;
    line-height: 100px;
}

.section-dinner{
    background: #3966AF none repeat scroll 0 0;
    width: 80%;
    margin: auto;
}


@media screen and (max-width: 990px) {
    .section-team .content-astro .overlayed.overlayed-astronauta::after {
        width: 150% !important;
    }   
    .contact-form form {
        padding: 0 10% 10% !important;
    }
}

@media screen and (max-width: 767px) {
    .section-team .content-astro .overlayed.overlayed-astronauta::after {
        width: 180% !important;
    }
    
    .carousel-caption h1 {
        font-size: 25px !important;
    }
    .carousel-caption span,h2 {
        font-size: 18px !important;
    }

    .quienes-somos .avatar::after{
        width: 100% !important;
    }

    .contact-form form {
        padding: 0 2% 2% !important;
    }

    .section-dinner{
        width: 100%;
    }

    .section-social-header {
        padding: 15px 0 10px;
    }
    .section-social li a {
        width: 30px;
        height: 30px;
        padding: 10px !important;
        font-size: 12px !important;
        line-height: 10px;
    }

    .section-social-header .content-social{
        padding: 0 0 5px;
        margin: 10px;
    }

    .section-social li + li{
        margin-left: 1px;
    }

    #logo > a {
        font-size: 30px;   
    }
    .menu-items {
        width: 100px;
    }
    
    
}

.link{
    z-index: 9;
}
.link a{
    color: white;
    font-weight: bold;
}
.indice{
    z-index: 21;
}